@import "./custom_colors";

nav.navbar {
  height: 70px;
  border-bottom: 1px solid $custom-purple-darker;

  .navbar-brand {
    img {
      height: 40px;
      margin-top: 15px;
    }
  }
}

.navbar-logged {
  .navbar-menu {
    background-color: #485fc7;
  }
}
